<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Listener Test Suite">

    <listeners>
        <listener class-name="ListenersDemo.TestNGListeners"/>
    </listeners>

    <test name="Listener Testing">
        <classes>
            <class name="ListenersDemo.FirstTest"/>
        </classes>
    </test>

</suite>
